[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NETLIFY_USE_YARN = "false"
  NODE_VERSION = "20"
  # Optimize Next.js builds on Netlify
  NEXT_Use_Netlify_Edge = "true"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"
