[build]
  command = "npx prisma db push --accept-data-loss && npm run build"

[build.environment]
  NETLIFY_USE_YARN = "false"
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"
